@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes voice-wave {
  0% {
    transform: scaleY(0.9);
  }
  25% {
    transform: scaleY(0.7);
  }
  50% {
    transform: scaleY(1.3);
  }
  75% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0.9);
  }
} 