.containerr {
    padding-top: 50px;
    display: flex;
    overflow: hidden;
    height: 100vh;
    flex-direction: row;
}

@media (max-width: 1024px) {
    .containerr {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .staticContent {
        width: 100%;
        text-align: center;
    }

    .timeline {
        width: 100%;
        flex: none;
        padding: 0 20px;
    }

    .timelineSection {
        flex-direction: column;
        align-items: center;
        
    }

    .timelineTitle {
        /* writing-mode: horizontal-tb;
        text-orientation: initial; */
        margin: 10px;
        padding: 10px 30px;
        border: none;
        background: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
        background: linear-gradient(to bottom, #ec4899, #a855f7, #6366f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        text-align: center;
    }

    .cardContainerWrapper {
        margin: auto;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .timelineTitle {
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin-right: 30px;
        border-right: 2px solid black;
        height: 100%;
        background: linear-gradient(to bottom, #ec4899, #a855f7, #6366f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.staticContent {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.divider {
    width: 2px;
    background-color: black;
    margin-left: 10px;
}

.timeline {
    flex: 4 2;
    overflow-y: auto;
}

.timelineSection {
    display: flex;
    align-items: center;
}

/* .timelineTitle {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-right: 30px;
    border-right: 2px solid black;
    height: 100%;
    background: linear-gradient(to bottom, #ec4899, #a855f7, #6366f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.cardContainerWrapper {
    display: flex;
    justify-content: center;
    /* Center the card container */
    width: 100%;
}

.cardContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: transform 0.5s ease;
    align-items: center;
    padding-left: 10px;
}

.cardContainer .glass {
    position: relative;
    width: 240px;
    height: 280px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, margin 0.5s ease;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin: 0 -75px;
    transform: rotate(calc(var(--r) * 1deg));
}

.glassContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cardContainer:hover .glass {
    cursor: pointer;
    transform: rotate(0deg) !important;
    margin: 0 3px;
}

.cardContainer .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: transform 0.5s ease;
}