/* Buttons */
.btn,
.btn-sm {
    @apply text-sm font-medium inline-flex items-center justify-center border border-transparent rounded-lg whitespace-nowrap transition-all;
}

.btn {
    @apply px-4 py-2.5 shadow-lg;
}

.btn-sm {
    @apply px-3 py-1 shadow;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-white border border-gray-200 focus:border-blue-300;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded-lg;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply text-sm py-2.5 px-4 shadow-sm;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-400;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-gray-800 rounded-sm;
}